@import "colors";
@import "fonts";
@import "sizes";

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
nav ul a{
  color: $color-secundario;
  margin-right: 5px;
}
nav span{
  color: $color-secundario;
}
.text-notas{
  font-size: 0.9rem;
  font-weight: 700;
}
.text-notas-min{
  font-size: 0.9rem;
}
.nav-wrapper{
  background-color: transparent;
  width: 90%;
  box-shadow: none;
  border-bottom: 1px solid $color-secundario;
  padding-bottom: 70px;
}
.hr-title{
  width: 30px;
  border: 3px solid $color-principal;
  float: left;
  position: relative;
  top: -8px;
}
.root {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

%footer-pd{
  padding: 10px;
}

.nav{
  margin: 0 auto;
  &__icon{
    padding-right: 10px;
  }
  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  &__menu{
    background-color: $color-principal;
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    a{
      font-size: 1.2rem;
      color: $color-base;
      font-weight: 500;
    }
  }
  .button-collapse{
    margin: 0 34px;
  }
}

@media (max-width: 768px){
  .root{
    top: 0px;
  }
  .nav{
    margin-top: 20px;
    margin-bottom: 30px;
    .button-collapse i{
      color: $color-principal;
    }
    &__logo{
      margin-top: 0;
      width: 250px;
      min-height: 40px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    .col{
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
  .noticia1__texto{
    h4{
      font-size: 1.5rem;
    }
  }
  .noticia2__texto{
    height: $primary-height - 5vh;
  }
  @for $i from 1 to 2{
    .noticia#{$i}__bg{
      height: $primary-height;
    }
  }
  @for $i from 3 to 5{
    .noticia#{$i}__bg{
      height: $primary-height/2;
    }
    .noticia#{$i}__texto{
      height: $primary-height/2;
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 601px){
  .container {
    width: 90%;
  }
  @for $i from 3 through 4{
    .noticia#{$i}__bg{
      height: 292px;
    }
  }
}

@for $i from 2 to 8{
  .noticia#{$i}{
    padding-left: 0 !important;
  }
  .noticia#{$i}__bg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    img{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .noticia#{$i}__texto{
    background-color: $color-secundario;
    color: $color-base;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: $primary-height/2;
    h5{
      margin: 0;
      font-size: $size-noticia-title;
    }
  }
}

.noticia4{
  padding-right: 0 !important;
}

.noticia1-click{
  cursor: pointer;
  color: $color-base;
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
  &__texto{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  & h5{
    font-size: 2.64rem;
    margin: .5rem 0.2rem 0.4rem 1.3rem;
  }
  & h6{
    font-size: 1.2rem;
    margin: .5rem 0.2rem 1.4rem 1.3rem;
    width: 59%;

  }
}

.img-autor{
  border-radius: 50%;
  border: 1px solid $color-principal;
  padding: 5px;
}

.footer{
  background-color: $color-principal;
  color: $color-base;
  position: relative;
  top: 140px;
  padding: 15px 40px;
  &__text{
    border-right: 1px solid $color-base;
    border-left: 1px solid $color-base;
    &--mg{
      margin-bottom: 0;
    }
  }
  &__terminos{
    &--mtb{
      margin: 0;
    }
    &--mb{
      margin-bottom: 0;
    }
  }
  &__btn-up{
    border: 0;
    width: 70px;
    height: 70px;
    background-color: $color-secundario;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: inline-block;
  }
}
