@import "colors";
@import "fonts";

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
h5{
  font-size: $size-noticia-title;
}
.root{
  position: relative;
  top: 150px;
}
//Menú de navegación
nav ul a{
  color: $color-secundario;
  margin-right: 5px;
}
.nav-wrapper{
  background-color: transparent;
}
.nav{
  margin: 0 auto;
  top: 0;
  &__icon{
    padding-right: 10px;
  }
  &__logo{
    width: 100%;
    margin-top: 70px;
    text-align: center;
  }
  &__menu{
    background-color: $color-principal;
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    margin: 80px auto 0 auto;
    text-align: center;
    a{
      margin: 0 20px;
      font-size: 1.2rem;
      color: $color-base;
      font-weight: 500;
    }
  }
}
//Noticia 1
.text-notas{
  font-size: 0.9rem;
  font-weight: 700;
}
.text-notas-min{
  font-size: 0.9rem;
}
.hr-title{
  width: 30px;
  border: 3px solid $color-principal;
  position: relative;
  left: 0;
  margin: 5px 0;
}

//Footer
%footer-pd{
  padding: 10px;
}

.footer{
  background-color: $color-principal;
  color: $color-base;
  position: relative;
  top: 140px;
  padding: 15px 40px;
  &__text{
    border-right: 1px solid $color-base;
    border-left: 1px solid $color-base;
    &--mg{
      margin-bottom: 0;
    }
  }
  &__terminos{
    &--mtb{
      margin: 0;
    }
    &--mb{
      margin-bottom: 0;
    }
  }
  &__btn-up{
    border: 0;
    width: 70px;
    height: 70px;
    background-color: $color-secundario;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: inline-block;
  }
}

@media (max-width: 768px){
  .nav{
    .button-collapse i{
      color: $color-principal;
    }
    &__logo{
      margin-top: 0;
      width: 250px;
    }
  }
  .root{
    top: 0px;
  }
  .noticia1__texto{
    h4{
      font-size: 1.5rem;
    }
  }
  @for $i from 3 to 5{
    .noticia#{$i}__bg{
      height: 100px;
      margin: 5px 0;
    }
  }
}

@for $i from 1 to 8{
  .noticia#{$i}__bg{
    background-color: $color-secundario;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $color-base;
    &__texto{
    }
  }
}
.noticia1-click{
  cursor: pointer;
  color: $color-base;
  position: relative;
  &__texto{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.noticia2__bg{
  margin-top: 10px;
}
.noticia3__bg{
  @extend .noticia2__bg;
}

.img-autor{
  border-radius: 50%;
  border: 1px solid $color-principal;
  padding: 5px;
}
